@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url('AvenirNextLTPro-Bold.eot');
  src: url('AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg'),
       url('AvenirNextLTPro-Bold.ttf') format('truetype'),
       url('AvenirNextLTPro-Bold.woff') format('woff'),
       url('AvenirNextLTPro-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

