@import "../Layout/include-media"

.c-newsletter
    background-color: #c8d3ee
    background-color: #d6e1fe
    
    .cognito
        a
            position: absolute
            left: -100000px

    .c-label,
    .c-editor
        padding: 0!important

    .c-action
        margin: 0!important

    #c-submit-button
        margin: 0!important
        float: none!important
        min-width: 200px
        
    .c-label
        &:after
            color: #FC3768!important // this is the asterisk that marks the required field

    .c-validation
        padding: 11px 15px
        font-size: 16px!important
        margin: 0!important
        color: #124554!important
        background-color: rgba(#124554, .2)!important

    .c-button
        border: none
        height: 50px
        font-size: inherit
        background-color: #FC3768
        box-shadow: 0 4px mix(#FC3768, #000, 70%)
        color: #fff
        position: relative

        &:hover
            box-shadow: 0 2px mix(#FC3768, #000, 70%)
            top: 2px  

    label
        font-size: 14px

    input
        background: transparent
        outline: none
        font-size: 18px
        border: none
        border-radius: 0
        height: 30px
        line-height: 30px
        padding: 0 0
        border-bottom: 4px solid #124554

        &::placeholder
            color: #333
            opacity: .4

    h4
        font-size: 2rem
        font-weight: 700
        position: relative
        margin-bottom: 30px

        @include media(">=tablet")
            font-size: 2.2rem

        span
            position: relative
            display: inline
            border-bottom: 2px dotted currentColor
            box-decoration-break: clone

.c-newsletter-inner
    border: 10px solid #124554
    color: #124554
    padding: 10px 15px

    @include media(">=tablet")
        padding: 20px 30px