.c-container
    width: 100%
    max-width: 1200px
    margin: 0 auto
    padding: 0 30px
    display: flex
    align-items: center

    .c-container
        padding: 0

.c-container--center
    justify-content: center

.c-container--baseline
    align-items: baseline