.c-cta
    display: inline-flex
    background-color: #E63A4C
    color: #fff
    border-radius: 1px
    align-items: center
    height: 50px
    line-height: 50px
    text-decoration: none
    padding: 0 16px

    &.is-disabled
        pointer-events: none
        background-color: mix(#fafbf8, #000, 80%)