@import "./include-media"

:root
	--background-color: #ffffff
	--alt-background-color: #f4f4f4
	--text-color: #27292B
	--accent-color: #0000FF
	--container-width: 640px
	--font-regular: acumin-pro, sans-serif

*,
*:before,
*:after
	margin: 0
	padding: 0
	box-sizing: border-box
	
html
	font-size: 16px

	@include media(">=desktop")
		font-size: 20px

body
	background-color: #fff
	font-family: var(--font-regular)
	font-weight: 400
	font-style: normal
	
h1,
h2
	font-size: 2.6rem
	font-weight: 700
	line-height: 1.1

	& + *
		margin-top: 1.5rem

		@include media(">=desktop")
			margin-top: 2.2rem

p, ul, ol
	// font-size: 22px
	line-height: 1.7

.paragraph
	display: inline-block
	
strong
	font-family: var(--font-bold)

ol 
	li
		&:before
			content: ''
			display: inline-block
			height: 100%
			width: 5px

		& + li
			margin-top: 7px
ul
	margin: 0
	padding: 0
	list-style: none
	max-width: 700px

	li
		display: flex
		align-items: flex-start
		line-height: 1.6

		& + li
			margin-top: 9px
		
		&:before
			content: ''
			flex: 0 0 10px
			height: 10px
			border-radius: 50%
			margin-right: 14px
			background-color: #444
			margin-top: .6rem

section
	padding: 2rem 0 2.3rem

	@include media(">=desktop")
		padding: 7rem 0	

	p, .paragraph 

		& + *
			margin-top: 1.5rem

			@include media(">=desktop")
				margin-top: 2.2rem

