:root
	--background-color: #ffffff
	--alt-background-color: #f4f4f4
	--text-color: #27292B
	--accent-color: #0000FF
	--container-width: 640px
	--font-regular: acumin-pro, sans-serif

*,
*:before,
*:after
	margin: 0
	padding: 0
	box-sizing: border-box
	
body
	font-family: var(--font-regular)
	font-size: 20px
	font-weight: 400
	font-style: normal
	
h1,
h2
	font-size: 58px
	font-weight: 700

	& + *
		margin-top: 10px

p, ul, ol
	// font-size: 22px
	line-height: 1.7

strong
	font-family: var(--font-bold)

ul
	margin: 0
	padding: 0
	list-style: none

	li
		display: flex
		align-items: center
		line-height: 1.6

		& + li
			margin-top: 9px
		
		&:before
			content: ''
			flex: 0 0 12px
			height: 12px
			border-radius: 50%
			margin-right: 14px
			background-color: #652877

section
	padding: 140px 0

	p 

		& + *
			margin-top: 35px

