@import "../components/Layout/include-media"

.p-training
    .article__content
        strong
            display: block
            font-size: 30px
            margin-bottom: 15px
        
        // haha cool one!
        & > * + *:not(.c-color-block)
            margin-top: 4rem

            @include media("<desktop")
                margin-top: 2rem

    .c-register-block
        margin: 45px 0