.c-header
    background-color: #ededed
    background: linear-gradient(180deg,#fff,#f2f2f4)
    color: var(--text-color)

    .c-cta
        margin-top: 20px

    .p-home & 
        background-image: url(../../../static/assets/Soil_Website_Header_Paars_Compleet.png)
        background-size: cover
        background-position: center
        color: #fff
        padding: 200px 0

    .p-training &
        margin-bottom: -190px
        padding: 100px 0 160px