.c-header
    // background-color: #ededed
    background: linear-gradient(180deg,#f9f9fa,#f2f2f4)
    color: var(--text-color)
    // position: fixed
    left: 0
    right: 0
    z-index: 0

    .p-home & 
        background-image: url(../../../static/assets/Soil_Website_Header_Paars_Compleet.png)
        background-size: cover
        background-position: center
        color: #fff
        padding: 200px 0

    .p-training &
        margin-bottom: -150px
        padding: 80px 0 180px

        .c-register-block
            margin: 10px 0


#myVideo
    position: absolute
    min-width: 100%
    min-height: 100%