@import "../Layout/include-media"

.c-callout
    display: block
    color: var(--background-color)
    font-family: var(--font-bold)
    font-size: 2.5rem
    font-weight: bold
    line-height: 1.2
    margin-bottom: 1.8rem

    @include media(">=desktop")
        margin-bottom: 3rem