@import "../Layout/include-media"

nav
    background-color: #fff
    padding: 30px 15px
    text-align: center
    

    @include media(">500px")
        align-items: center
        display: flex
        justify-content: space-between
        

    span
        display: inline-flex
        flex-wrap: wrap
        justify-content: center
        color: #4d3d1e
        align-items: baseline

        @include media(">500px")
            justify-content: flex-end

        @include media("<=500px")
            margin-top: 20px

        svg 
            width: 15px
            height: auto
            margin-left: 10px

        @include media(">=tablet")
            font-size: .8rem

        a
            height: 45px
            line-height: 43px
            border-radius: 20px
            padding: 0 20px
            background-color: #FBC763
            color: inherit
            font-weight: bold
            text-decoration: none
            display: inline-flex

            @include media(">tablet")
                margin-left: 10px

            @include media("<desktop")
                margin-top: 10px
